$blue-primary: rgba(40, 59, 115, 1); /* 283b73 */

$yellow-primary: rgba(255, 188, 0, 1); /* ffbc00 */

$board-background: rgba(246,248,248, 1); /* f6f8f8 */



/*$red: rgba(219, 103, 85) #db6755  red 
#18254a
#cbdde3
#62B93C*/




$green: rgba(135, 185, 25, 1);
$purple: rgba(110, 30, 130, 1);