$green: rgba(134, 185, 24, 1);
$green-accent: rgba(107, 148, 19, 1);

$purple: rgba(109, 31, 128, 1);
$purple-accent: rgba(73, 8, 89, 1);

$orange: rgba(255, 102, 0, 1); /* ff6600 */
$orange-accent: rgba(206, 82, 0, 1);


/* default background color */
$default-bg: rgba(246, 245, 239, 1); /* F6F5EF */

$default-linecolor: rgba(221, 220, 209, 1); /* #DDDCD1 */

$default-textcolor: rgba(85, 81, 59, 1); /* #55513B */


$gold: rgba(190, 177, 108, 1); /* beb16c */
$silver: rgba(152, 152, 152, 1); /* 989898 */
$bronze: rgba(149, 107, 63, 1); /* 956B3F */




$blue-primary: rgba(40, 59, 115, 1); /* 283b73 */

$yellow-primary: rgba(255, 188, 0, 1); /* ffbc00 */

$board-background: rgba(246,248,248, 1); /* f6f8f8 */