/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,400);
/* line 18, stdin */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, stdin */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, stdin */
body {
  line-height: 1; }

/* line 34, stdin */
ol, ul {
  list-style: none; }

/* line 37, stdin */
blockquote, q {
  quotes: none; }

/* line 41, stdin */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, stdin */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 49, stdin */
*, *:before, *:after {
  box-sizing: border-box; }

/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
/* main layout files */
/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
/* line 81, stdin */
*, *:before, *:after {
  box-sizing: border-box; }

/* line 84, stdin */
main[role="main"] {
  display: flex; }

/* line 88, stdin */
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

/* line 92, stdin */
body {
  padding-top: 220px;
  background: #f6f5ef; }

/* line 97, stdin */
body.front,
body.leader {
  padding-top: 100px; }

/* line 100, stdin */
.container-wrapper {
  width: 100%;
  padding-top: 240px;
  box-shadow: inset 0 460px white; }

/* line 104, stdin */
.container-wrapper.medium {
  padding-top: 120px;
  box-shadow: inset 0 275px white; }

/* line 107, stdin */
.container-wrapper.small {
  padding-top: 100px;
  box-shadow: inset 0 200px white; }

/* line 110, stdin */
.container-wrapper.bottom {
  padding-bottom: 240px;
  box-shadow: inset 0 -460px white; }

/* line 113, stdin */
.container-wrapper.bottom.medium {
  padding-bottom: 120px;
  box-shadow: inset 0 -275px white; }

/* line 116, stdin */
.container-wrapper.bottom.small {
  padding-bottom: 100px;
  box-shadow: inset 0 -200px white; }

/* line 119, stdin */
.container-wrapper.none {
  padding: 0;
  box-shadow: none; }

/* line 123, stdin */
.container {
  max-width: 1280px;
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
  position: relative; }

/* line 129, stdin */
.container.full {
  max-width: 100%; }

/* line 131, stdin */
.container h2 {
  padding: 4px 10px;
  color: white;
  display: inline-block;
  background: black; }

/* line 136, stdin */
.container h2.multiline {
  background: none;
  padding: 0; }

/* line 139, stdin */
.container h2.multiline span {
  padding: 4px 10px;
  background: black; }

/* line 142, stdin */
.container h2.multiline span:last-child {
  margin-top: 10px;
  display: block; }

/*
 * Jumbotron default
 */
/* line 149, stdin */
.jumbotron {
  height: 80vh;
  margin: 0 auto 270px;
  position: relative;
  background: #f6f5ef url("../img/lavn-header.jpg") no-repeat 50% 50%;
  background-attachment: fixed;
  background-size: cover; }

/* line 156, stdin */
.jumbotron .introduction {
  max-width: 55%;
  position: absolute;
  left: 4%;
  top: 20%; }

/* line 161, stdin */
.jumbotron .introduction h1 {
  margin-bottom: .5rem;
  padding: 10px;
  font-size: 2rem;
  display: inline-block;
  background: white; }

/* line 167, stdin */
.jumbotron .introduction p {
  padding: 10px;
  color: white;
  font-size: 21px;
  display: inline-block; }

/* line 173, stdin */
article.placeholder {
  width: 100%;
  height: 500px;
  margin-bottom: 5px;
  background: black; }

/*
 * Content wrapper for content that is a 2 column content 
 */
/* line 182, stdin */
.content-wrapper {
  display: flex; }

/* line 184, stdin */
.content-wrapper .half {
  padding: 5px;
  flex: 1; }

/* line 187, stdin */
.content-wrapper .half:nth-child(1) {
  padding-left: 0;
  padding-right: 20px; }

/* line 190, stdin */
.content-wrapper .half:nth-child(2) {
  padding-left: 0; }

/* line 192, stdin */
.content-wrapper .half:nth-child(2) article {
  width: 100%;
  display: inline-block;
  height: 200px; }

/* line 196, stdin */
.content-wrapper .half:nth-child(2) .row {
  margin-top: 20px; }

/* line 198, stdin */
.content-wrapper .half:nth-child(2) .row article {
  margin-right: 20px; }

/* line 200, stdin */
.content-wrapper .half:nth-child(2) .row article:last-child {
  margin-right: 0; }

/* line 202, stdin */
.content-wrapper .row {
  display: flex; }

/* line 204, stdin */
.content-wrapper .row article {
  flex: 1; }

/* line 207, stdin */
footer[role="document-footer"] {
  margin-top: 110px;
  background: white; }

/* line 210, stdin */
footer[role="document-footer"] .wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto; }

/* line 214, stdin */
footer[role="document-footer"] nav {
  margin-bottom: 40px;
  padding-top: 40px;
  text-align: center; }

/* line 218, stdin */
footer[role="document-footer"] a {
  color: #000; }

@media screen and (min-width: 880px) {
  /* line 222, stdin */
  footer[role="document-footer"] {
    height: 95px; }
  /* line 224, stdin */
  footer[role="document-footer"] nav {
    text-align: left; }
  /* line 226, stdin */
  footer[role="document-footer"] .partners {
    position: absolute;
    top: 20px;
    right: 0; } }

/* line 231, stdin */
.container.content {
  max-width: 1200px;
  padding: 50px 175px;
  border: 1px solid #dddcd1;
  background: white; }

/* line 236, stdin */
.container.content p {
  margin-bottom: 1rem;
  font-size: 1.286rem;
  line-height: 1.286rem; }

/* line 241, stdin */
textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  border: none; }

/* line 252, stdin */
.leader .jumbotron {
  margin-bottom: -130px; }

/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
@font-face {
  font-family: 'tbotmregular';
  src: url("../fonts/tbotm/tbotm-webfont.eot");
  src: url("../fonts/tbotm/tbotm-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tbotm/tbotm-webfont.woff2") format("woff2"), url("../fonts/tbotm/tbotm-webfont.woff") format("woff"), url("../fonts/tbotm/tbotm-webfont.ttf") format("truetype"), url("../fonts/tbotm/tbotm-webfont.svg#tbotmregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
 * 16px = 1rem
 */
/* line 279, stdin */
html {
  font-size: 14px; }

/* line 282, stdin */
h1 {
  font-weight: 700;
  font-size: 2.25rem; }

/* line 286, stdin */
h2 {
  padding: 1em 0;
  font-weight: 300;
  font-size: 1.714rem;
  font-family: 'tbotmregular'; }

/* line 292, stdin */
h3 {
  padding: 1em 0;
  font-weight: 300;
  font-size: 1.25rem; }

/* line 297, stdin */
p {
  font-size: 1rem;
  color: #55513b; }

/* line 301, stdin */
a {
  color: #ff6600; }

/*
 * Buttons
 */
/* line 307, stdin */
a.btn {
  text-decoration: none; }

/* line 310, stdin */
.btn {
  padding: 10px 30px 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  transition: box-shadow 0.13s ease-in, padding 0.13s ease-in;
  /* color values */
  /* solids */
  /* hover states */ }

/* line 320, stdin */
.btn:before {
  content: "<";
  position: absolute;
  font-weight: bold;
  top: 9px;
  left: 12px;
  transition: color 0.13s ease-in; }

/* line 327, stdin */
.btn:not(.solid):hover:before {
  color: white; }

/* line 329, stdin */
.btn.green {
  color: #86b918; }

/* line 331, stdin */
.btn.purple {
  color: #6d1f80; }

/* line 333, stdin */
.btn.orange {
  color: #ff6600; }

/* line 335, stdin */
.btn.solid {
  color: #fff;
  background: #f1f1f1;
  box-shadow: inset 6px 0 0; }

/* line 339, stdin */
.btn.solid.green {
  background: #86b918;
  box-shadow: inset 6px 0 0 #6b9413; }

/* line 342, stdin */
.btn.solid.purple {
  background: #6d1f80;
  box-shadow: inset 6px 0 0 #490859; }

/* line 345, stdin */
.btn.solid.orange {
  background: #ff6600;
  box-shadow: inset 6px 0 0 #ce5200; }

/* line 348, stdin */
.btn:hover {
  padding: 10px 12px 10px 50px; }

/* line 350, stdin */
.btn.green:hover {
  box-shadow: inset 36px 0 0 #6b9413; }

/* line 352, stdin */
.btn.purple:hover {
  box-shadow: inset 36px 0 0 #490859; }

/* line 354, stdin */
.btn.orange:hover {
  box-shadow: inset 36px 0 0 #ce5200; }

/* line 357, stdin */
input.btn {
  border: none; }

/*

8px = 0.5714rem
9px = 0.6429rem
10px = 0.7143rem
11px = 0.7857rem
12px = 0.8571rem
13px = 0.9286rem
14px = 1rem (base)
15px = 1.071rem
16px = 1.143rem
18px = 1.286rem
20px = 1.429rem
22px = 1.571rem
24px = 1.714rem
26px = 1.857rem
28px = 2rem
30px = 2.143rem
32px = 2.286rem
34px = 2.429rem
36px = 2.571rem
38px = 2.714rem
40px = 2.857rem

*/
/* line 385, stdin */
.list {
  list-style: none;
  padding: 0; }

/* line 388, stdin */
.list li {
  position: relative;
  margin-left: 2rem; }

/* line 391, stdin */
.list li .content {
  margin-left: 4rem; }

/* line 393, stdin */
.list li span {
  width: 60px;
  height: 60px;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  line-height: 55px;
  left: -1.5rem;
  color: #ff6600;
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 0 0 6px #f6f5ef;
  border: 3px solid #ff6600;
  background: #fff; }

/* line 408, stdin */
.list li span:after {
  content: "";
  display: block;
  position: absolute;
  height: 80px;
  width: 6px;
  left: 50%;
  top: 60px;
  margin-left: -3px;
  background: #f6f5ef; }

/* line 418, stdin */
.list li:last-child span:after {
  display: none; }

/* line 420, stdin */
.list.steps li span {
  border-color: white;
  color: #b4b197; }

/* line 423, stdin */
.list.steps li.active span {
  color: #ff6600;
  border-color: #ff6600; }

/* line 426, stdin */
.list.medium li span {
  width: 40px;
  height: 40px;
  font-size: 1.714rem;
  line-height: 35px; }

/* line 431, stdin */
.list .content h4 {
  font-size: 1.286rem;
  color: #55513b; }

/* line 434, stdin */
.list .content p {
  color: #85805f; }

/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
/* line 451, stdin */
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.13s ease-in; }

/* line 460, stdin */
.header.small {
  transform: translateY(-40px); }

/* line 463, stdin */
.header.small nav[role="main-navigation"],
.header.small nav[role="user-navigation"] {
  transform: translateY(20px); }

/* line 465, stdin */
.header .wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center; }

/* line 471, stdin */
.header nav[role="main-navigation"] {
  height: 100px;
  flex: 1;
  transition: transform 0.13s ease-in; }

/* line 475, stdin */
.header nav[role="main-navigation"] a {
  height: 100px;
  padding: 0 10px;
  line-height: 100px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  color: #55513b;
  text-decoration: none; }

/* line 485, stdin */
.header nav[role="main-navigation"] a:hover,
.header nav[role="main-navigation"] a.active {
  color: #ff6600; }

/* line 487, stdin */
.header .branding {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px; }

/* line 493, stdin */
.header .branding a {
  position: absolute;
  display: inline-block;
  text-indent: -9999px;
  transition: transform 0.13s ease-in; }

/* line 498, stdin */
.header .branding .large {
  width: 200px;
  height: 200px;
  background: url("../img/LAVN_large.png") no-repeat 50% 50%; }

/* line 502, stdin */
.header .branding .medium {
  width: 80px;
  height: 94px;
  margin-top: 50px;
  margin-left: 61px;
  background: url("../img/LAVN_medium.png") no-repeat 0 0; }

/* line 508, stdin */
.header .branding .hide {
  transform: translateY(-300px); }

/* line 510, stdin */
.header nav[role="user-navigation"] {
  height: 100px;
  padding-top: 33px;
  flex: 1;
  transition: transform 0.13s ease-in; }

/* line 515, stdin */
.header nav[role="user-navigation"] .wrapper {
  float: right; }

/* line 517, stdin */
.header nav[role="user-navigation"].logged-in {
  display: none; }

/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
/* Navigation user and search form */
/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
/*
 * Club overview / club search
 */
/* line 552, stdin */
.clubs form input[type="text"] {
  font-size: 2rem; }

/*
 * Club page
 */
/* line 558, stdin */
.club .card {
  flex: 1;
  border: 1px solid #dddcd1;
  background: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); }

/* line 564, stdin */
.club header {
  display: flex; }

/* line 567, stdin */
.club .club-branding {
  display: flex;
  padding: 35px 27px; }

/* line 570, stdin */
.club .club-branding .name {
  padding-top: 30px;
  padding-left: 31px; }

/* line 574, stdin */
.club h1 {
  margin-bottom: 6px;
  color: #ff6600;
  font-size: 1.714rem; }

/* line 579, stdin */
.club .city {
  padding: 0; }

/* line 582, stdin */
.club .club-information {
  border-top: 1px solid #dddcd1;
  display: flex; }

/* line 587, stdin */
.club .club-information .members,
.club .club-information .founded,
.club .club-information .classification {
  flex: 1; }

/* line 589, stdin */
.club .club-information p {
  padding: 8px 11px;
  text-transform: uppercase; }

/* line 592, stdin */
.club .club-information h4 {
  margin-bottom: 1.714rem;
  color: #55513b;
  font-size: 1.714rem;
  font-weight: 700;
  text-align: center; }

/* line 599, stdin */
.club .club-content {
  flex: 1;
  padding-left: 40px; }

/* line 602, stdin */
.club .club-content .user-info {
  margin-bottom: 10px; }

/* line 604, stdin */
.club .club-content .dream {
  height: 140px;
  font-size: 1.429rem;
  font-weight: 700; }

/* line 609, stdin */
.club .club-members span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  background: url("http://static.bleacherreport.net/images/redesign/avatars/default-user-icon-comment.png") no-repeat 50% 50%; }

/* line 616, stdin */
.club .timeline {
  margin-top: 40px;
  margin-bottom: -180px; }

/* line 620, stdin */
.assignment {
  margin-top: 77px; }

/* line 622, stdin */
.assignment h2 {
  position: absolute;
  left: 10px;
  top: 50px;
  z-index: 3; }

/* line 627, stdin */
.assignment .half {
  margin: 20px 0 200px 120px;
  padding: 40px 40px 40px 222px;
  position: relative;
  border: 1px solid #dddcd1;
  background: #fff;
  /* counter */ }

/* line 634, stdin */
.assignment .half h3 {
  margin-bottom: 12px;
  color: #ff6600;
  font-size: 2.571rem;
  font-weight: 700; }

/* line 639, stdin */
.assignment .half p {
  margin-bottom: 1rem;
  font-size: 1.286rem; }

/* line 642, stdin */
.assignment .half .counter {
  width: 300px;
  display: flex;
  border: 1px solid #dddcd1; }

/* line 646, stdin */
.assignment .half .counter span {
  padding: 7px;
  flex: 1;
  text-align: center;
  font-size: 0.7143rem;
  border-right: 1px solid #dddcd1; }

/* line 652, stdin */
.assignment .half .counter span:last-child {
  border-right: none; }

/* line 654, stdin */
.assignment .half .counter span strong {
  display: block;
  font-size: 1.714rem;
  font-weight: 700; }

/* line 658, stdin */
.assignment .half .share {
  position: absolute;
  bottom: -30px;
  right: 0; }

/* line 662, stdin */
.assignment .half .share p {
  font-size: 1rem; }

/* line 665, stdin */
.submission {
  max-width: 1080px;
  margin: 0 auto; }

/* line 668, stdin */
.submission .footer-bar {
  padding: 20px;
  display: flex;
  background: white; }

/* line 672, stdin */
.submission .username {
  flex: 1; }

/* line 674, stdin */
.submission .sharing {
  width: 250px; }

/* line 676, stdin */
.submission .reporting {
  width: 250px; }

/* line 679, stdin */
.video.placeholder {
  position: relative;
  background: black; }

/* line 682, stdin */
.video.placeholder:after {
  content: "";
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  display: block;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%; }

/* line 694, stdin */
.video.placeholder:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background: red;
  /*      border-top: 10px solid transparent;
      border-left: 30px solid white;
      border-bottom: 10px solid transparent;
      border-right: 10px solid transparent;*/ }

/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
/* line 723, stdin */
.overlay,
.modal-wrapper {
  display: none; }

/* overlay */
/* line 727, stdin */
.modal-active .overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.7); }

/* modal wrapper */
/* line 735, stdin */
.modal-active .modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1080px;
  margin-top: -25vh;
  margin-left: -540px;
  border: 1px solid #dddcd1;
  z-index: 10000;
  background: #dddcd1; }

/* line 746, stdin */
.modal-active .modal {
  position: relative;
  display: flex;
  /* close button */ }

/* line 750, stdin */
.modal-active .modal .close {
  width: 16px;
  height: 16px;
  right: 10px;
  top: 10px;
  border: none;
  text-indent: -99999px;
  position: absolute;
  background: url("../img/icons/x_small.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  cursor: pointer; }

/* line 762, stdin */
.modal-active .modal .half {
  padding: 29px 10px 28px 39px;
  flex: 1; }

/* line 765, stdin */
.modal-active .modal .right {
  padding-right: 41px;
  background: white; }

/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
/*
 * Form elements
 */
/* line 789, stdin */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  font-size: 16px; }

/*
 * login form
 */
/* line 795, stdin */
label {
  margin-bottom: 7px;
  display: block;
  line-height: 18px;
  font-weight: bold; }

/* line 800, stdin */
label span {
  font-weight: normal;
  display: block; }

/* line 805, stdin */
input[type="text"],
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px 0 11px 17px;
  border: 1px solid #55513b; }

/* line 811, stdin */
form input[type="submit"].right {
  float: right; }

/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
/* line 828, stdin */
.question-answer {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 100px;
  padding-bottom: 44px;
  position: relative;
  border: 1px solid #dddcd1;
  background: white;
  height: 70px;
  overflow: hidden; }

/* line 838, stdin */
.question-answer.open {
  height: auto; }

/* line 840, stdin */
.question-answer .trigger {
  width: 70px;
  height: 70px;
  display: block;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/icons/caret.png") no-repeat 50% 50%;
  border-bottom: 1px solid #dddcd1;
  border-right: 1px solid #dddcd1; }

/* line 851, stdin */
.question-answer h3 {
  margin-top: 6px;
  font-size: 1.286rem;
  font-weight: 700; }

/* line 855, stdin */
.question-answer .answer {
  font-size: 1.286rem;
  line-height: 1.286rem;
  margin-right: 275px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background: light-grey; }

/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
/*
 * Week timeline
 */
/* line 880, stdin */
.front .timeline {
  margin-top: -100px; }

/* line 883, stdin */
.timeline {
  margin-bottom: 85px;
  display: flex;
  justify-content: space-between; }

/* line 887, stdin */
.timeline .week {
  flex-basis: 23%;
  border: 1px solid #dddcd1;
  z-index: 10;
  background: white;
  /* counter */ }

/* line 893, stdin */
.timeline .week .content {
  margin: 17px; }

/* line 895, stdin */
.timeline .week .locked {
  height: 132px;
  margin: 9px;
  padding: 10px;
  color: #55513b; }

/* line 900, stdin */
.timeline .week h3 {
  height: 60px;
  margin-bottom: 1rem;
  padding-left: 70px;
  position: relative;
  font-weight: 700;
  line-height: 30px;
  color: #86b918;
  background: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #dddcd1;
  box-shadow: inset 60px 0 0 #f6f5ef; }

/* line 912, stdin */
.timeline .week h3:before {
  content: "";
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
  position: absolute;
  background: url("../img/icons/week-locked.svg") no-repeat 0 0; }

/* line 920, stdin */
.timeline .week p {
  color: #b4b197; }

/* line 922, stdin */
.timeline .week.ended {
  padding: 0; }

/* line 924, stdin */
.timeline .week.ended h3 {
  position: relative;
  box-shadow: inset 60px 0 0 #6b9413; }

/* line 927, stdin */
.timeline .week.ended h3 a {
  color: #fff;
  text-decoration: none; }

/* line 930, stdin */
.timeline .week.ended h3:before {
  top: 20px;
  left: 20px;
  background: url("../img/icons/week-ended.svg") no-repeat 0 0; }

/* line 934, stdin */
.timeline .week.current {
  padding: 0 0 50px 0;
  margin: -25px -1px;
  z-index: 15;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-color: #86b918;
  flex: 2;
  position: relative;
  background: #86b918; }

/* line 943, stdin */
.timeline .week.current p {
  color: #fff; }

/* line 945, stdin */
.timeline .week.current footer {
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  color: #55513b;
  background: #fff; }

/* line 952, stdin */
.timeline .week.current a {
  color: #fff; }

/* line 954, stdin */
.timeline .week.current h3 {
  height: 60px;
  margin: -1px -1px 1rem -1px;
  position: relative;
  color: #fff;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  border-bottom: none;
  background: #86b918;
  box-shadow: inset 60px 0 0 #6b9413;
  transition: box-shadow 0.13s ease-in; }

/* line 966, stdin */
.timeline .week.current h3:hover {
  box-shadow: inset 30rem 0 0 #6b9413; }

/* line 968, stdin */
.timeline .week.current h3 a {
  color: #fff;
  text-decoration: none; }

/* line 971, stdin */
.timeline .week.current h3:before {
  top: 10px;
  left: 17px;
  background: url("../img/icons/week-current.svg") no-repeat 0 0; }

/* line 975, stdin */
.timeline .week:last-child {
  border-left: none; }

/* line 977, stdin */
.timeline .week.closed {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.5) 1px, rgba(255, 255, 255, 0.5) 2px); }

/* line 979, stdin */
.timeline .week .counter {
  display: flex;
  color: #55513b;
  justify-content: space-between;
  text-transform: uppercase; }

/* line 984, stdin */
.timeline .week .counter span {
  margin: 16px 0 10px;
  padding: 0 16px;
  font-size: 10px;
  display: inline-block; }

/* line 989, stdin */
.timeline .week .counter strong {
  font-weight: bold;
  display: block;
  font-size: 24px; }

/* line 993, stdin */
.timeline.small {
  border-top: 1px solid #dddcd1;
  border-right: 1px solid #dddcd1; }

/* line 996, stdin */
.timeline.small .week {
  border: none; }

/* line 998, stdin */
.timeline.small .week h3 {
  margin-bottom: 0; }

/* line 1000, stdin */
.timeline.small .week.current {
  margin: 0;
  padding: 0;
  box-shadow: none; }

/* line 1005, stdin */
.front .timeline {
  margin-top: -400px; }

/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
/*
 * jumbotron
 */
/* line 1025, stdin */
body.weekassignment {
  padding-top: 400px; }

/* line 1028, stdin */
.weekassignment .jumbotron {
  height: 25vh;
  background-image: none; }

/* line 1032, stdin */
.weekassignment .container {
  margin-bottom: 0;
  padding-bottom: 0; }

/* line 1036, stdin */
.weekassignment .timeline {
  margin-top: -240px; }

/* line 1039, stdin */
.weekassignment .winner-wrapper {
  margin-top: 40px;
  display: flex; }

/* line 1043, stdin */
.weekassignment .winner {
  display: flex; }

/* line 1045, stdin */
.weekassignment .winner .information {
  border: 1px solid #dddcd1;
  background: #fff; }

/* line 1048, stdin */
.weekassignment .winner .information h3 {
  height: 60px;
  border-bottom: 1px solid #dddcd1;
  padding: 0 0 0 60px; }

/* line 1052, stdin */
.weekassignment .winner .information h3 .place {
  height: 60px;
  margin-right: 20px;
  padding: 0 20px;
  line-height: 60px;
  font-weight: bold;
  display: inline-block;
  border-right: 1px solid #dddcd1; }

/* line 1060, stdin */
.weekassignment .winner .entry {
  flex: 1;
  height: 200px;
  background: black; }

/* line 1064, stdin */
.weekassignment .winner .information {
  flex: 1; }

/* line 1067, stdin */
.weekassignment .winner.second-place,
.weekassignment .winner.third-place {
  flex: 1; }

/* line 1069, stdin */
.weekassignment .winner.first-place h3 {
  box-shadow: inset 60px 0 #beb16c; }

/* line 1071, stdin */
.weekassignment .winner.second-place h3 {
  box-shadow: inset 60px 0 #989898; }

/* line 1073, stdin */
.weekassignment .winner.third-place h3 {
  box-shadow: inset 60px 0 #956b3f; }

/* line 1076, stdin */
#weekassignment h2 {
  position: absolute;
  left: 10px;
  z-index: 2; }

/*
 * Prices
 */
/* line 1084, stdin */
.prices {
  display: flex; }

/* line 1086, stdin */
.prices .price {
  flex: 1;
  border: 1px solid #dddcd1;
  background: white; }

/* line 1090, stdin */
.prices .price h3 {
  height: 80px;
  padding-left: 100px;
  position: relative;
  font-size: 20px;
  line-height: 45px;
  border-bottom: 1px solid #dddcd1;
  font-weight: bold; }

/* line 1098, stdin */
.prices .price h3:before {
  height: 80px;
  width: 81px;
  content: "";
  display: block;
  border-right: 1px solid #dddcd1;
  position: absolute;
  left: 0;
  top: 0; }

/* line 1107, stdin */
.prices .price .content {
  padding: 25px; }

/* line 1109, stdin */
.prices .price.first-place h3 {
  color: #beb16c; }

/* line 1111, stdin */
.prices .price.second-place h3 {
  color: #989898; }

/* line 1113, stdin */
.prices .price.third-place h3 {
  color: #956b3f; }

/* line 1116, stdin */
.container.login-section {
  margin: 60px 0 60px 20px;
  background: #f6f5ef; }

/* line 1120, stdin */
.weekassignment {
  /* video block */ }

/* line 1122, stdin */
.weekassignment h1 {
  font-size: 2.571rem;
  margin-bottom: 1rem;
  color: #ff6600; }

/* line 1126, stdin */
.weekassignment p {
  margin-bottom: 1rem; }

/* line 1128, stdin */
.weekassignment .half {
  margin: 20px 0 200px 120px;
  padding: 40px 40px 450px 222px;
  position: relative;
  border: 1px solid #dddcd1;
  background: #fff; }

/* line 1134, stdin */
.weekassignment .half article {
  width: 1080px;
  height: 608px;
  position: absolute;
  left: -60px;
  margin-top: 32px; }

/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
/*
 * Frontpage featured
 */
/* line 1158, stdin */
#featured .content-wrapper {
  max-width: 1200px; }

/* line 1161, stdin */
#featured h2 {
  margin-left: 1rem;
  margin-bottom: 1rem; }

/* line 1165, stdin */
#featured .featured-spot {
  position: relative; }

/* line 1167, stdin */
#featured .featured-spot header {
  width: 100%;
  padding: 30px 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ff6600; }

/* line 1174, stdin */
#featured .featured-spot header p {
  color: #fff; }

/* line 1176, stdin */
#featured .featured-spot h3 {
  padding-left: 40px;
  position: relative;
  color: #fff;
  font-weight: bold;
  background: url("../img/icons/logo-ing.png") no-repeat 100% 11px; }

/* line 1182, stdin */
#featured .featured-spot h3:before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 8px;
  background: url("../img/icons/icon-idea.svg") no-repeat 0 0; }

/*
 * How does it work section
 */
/* line 1194, stdin */
#how-wrapper {
  margin-top: -240px; }

/* line 1197, stdin */
#how-does-it-work {
  position: relative; }

/* line 1199, stdin */
#how-does-it-work .right {
  flex: 50;
  max-width: 66%;
  padding: 40px 40px 40px 210px;
  border: 1px solid #dddcd1;
  background: #fff; }

/* line 1205, stdin */
#how-does-it-work .right ul li {
  margin-bottom: 1.5rem; }

/* line 1207, stdin */
#how-does-it-work .right h3 {
  font-size: 18px;
  font-weight: bold;
  color: #55513b; }

/* line 1211, stdin */
#how-does-it-work h2 {
  position: absolute;
  left: 0;
  margin-left: 10px; }

/* line 1215, stdin */
#how-does-it-work .left {
  margin: 5rem 0;
  flex: 25; }

/* line 1218, stdin */
#how-does-it-work .left .pull-right {
  margin-right: -250px; }

/* line 1221, stdin */
#post-how-section .block {
  padding: 100px 0; }

/* line 1224, stdin */
#post-how-section h2 {
  margin-bottom: 13px;
  font-size: 2.571rem; }

/* line 1228, stdin */
#post-how-section p {
  margin-bottom: 16px;
  color: #000;
  font-size: 1.429rem; }

/*
 * Jury section
 */
/* line 1236, stdin */
#jury h2 {
  margin-left: 1rem;
  margin-bottom: 1rem; }

/* line 1240, stdin */
.jury {
  display: flex;
  flex-wrap: wrap; }

/* line 1243, stdin */
.jury .member {
  flex: 1;
  margin-right: 20px;
  position: relative; }

/* line 1247, stdin */
.jury .member h3 {
  width: 100%;
  height: 40px;
  padding-left: 80px;
  position: relative;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  font-size: 1rem;
  position: absolute;
  bottom: -40px;
  text-transform: uppercase;
  background: #ff6600;
  box-shadow: inset 40px 0 0 #ce5200;
  transition: box-shadow 0.13s ease-in; }

/* line 1262, stdin */
.jury .member h3:hover {
  box-shadow: inset 24rem 0 0 #ce5200; }

/* line 1264, stdin */
.jury .member h3 a {
  color: #fff;
  text-decoration: none; }

/* line 1267, stdin */
.jury .member h3:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
  background: url("../img/icons/jury-icon.svg") no-repeat 0 0; }

/* line 1276, stdin */
.jury .member.ruud .picture {
  background: url("../img/member_ruud.jpg");
  background-size: cover; }

/* line 1279, stdin */
.jury .member.anouk .picture {
  background: url("../img/member_anouk.jpg");
  background-size: cover; }

/* line 1282, stdin */
.jury .member.coen .picture {
  background: url("../img/member_coen.jpg");
  background-size: cover; }

/* line 1285, stdin */
.jury .member.sander .picture {
  background: url("../img/member_sander.jpg");
  background-size: cover; }

/* line 1288, stdin */
.jury .member .picture {
  height: 300px;
  background-size: cover; }

/* line 1291, stdin */
.jury .member:last-child {
  margin-right: 0; }

/* mediaqueries */
/* breakpoints */
/* mobile navigation */
@media screen and (max-width: 800px) {
  /* line 1298, stdin */
  .branding {
    background: url("../img/LAVN_medium.png") no-repeat 50% 50% !important; }
  /* line 1300, stdin */
  .menu-button {
    position: absolute;
    z-index: 100000;
    margin: 1em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    overflow: hidden;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent; }
  /* line 1313, stdin */
  .menu-button:before {
    content: "";
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%); }
  /* line 1321, stdin */
  nav[role="main-navigation"] {
    display: none; }
  /* line 1323, stdin */
  nav[role="main-navigation"].mobile {
    display: block;
    transform: translateX(-100%);
    transition: transform 0.23s ease-in; }
  /* line 1327, stdin */
  nav[role="main-navigation"].mobile a {
    display: block; }
  /* line 1329, stdin */
  nav[role="main-navigation"].mobile .close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer; }
  /* line 1334, stdin */
  nav[role="main-navigation"].mobile.open {
    height: 100%;
    padding: 4rem 2rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000; }
  /* line 1341, stdin */
  nav[role="main-navigation"].mobile.open a {
    margin: 1rem 0;
    display: block;
    font-size: 2rem; }
  /* line 1345, stdin */
  .layout-wrapper {
    transform: translateX(0);
    transition: transform 0.23s ease-in; }
  /* line 1348, stdin */
  .navigation-open nav[role="main-navigation"].mobile {
    transform: translateX(0); }
  /* line 1350, stdin */
  .navigation-open .layout-wrapper {
    transform: translateX(90%);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.25); }
  /* line 1353, stdin */
  .jumbotron {
    height: 100vh; }
  /* line 1355, stdin */
  .jumbotron .introduction {
    max-width: 100%;
    top: 50%; }
  /* line 1358, stdin */
  .jumbotron .btn {
    text-align: center; }
  /*
   * timeline
   */
  /* line 1364, stdin */
  .timeline .week.ended,
  .timeline .week.closed {
    display: none; }
  /* line 1366, stdin */
  #how-does-it-work {
    flex-direction: column; }
  /* line 1368, stdin */
  #how-does-it-work h2 {
    left: 0; }
  /* line 1370, stdin */
  #how-does-it-work .left .pull-right {
    margin-right: 0; }
  /* line 1372, stdin */
  #how-does-it-work .right {
    max-width: 100%;
    margin: 0 20px;
    padding: 40px 40px 40px 140px; }
  /* line 1376, stdin */
  .post-section .block {
    margin-top: 20px; }
  /* line 1378, stdin */
  #featured .content-wrapper {
    width: 100%;
    flex-direction: column; }
  /* line 1381, stdin */
  .jury .member {
    margin-bottom: 60px;
    flex-basis: 50%; } }

@media screen and (max-width: 1200px) {
  /* line 1386, stdin */
  .jury .member h3 {
    line-height: 1.4rem;
    font-size: 1rem; } }

@media screen and (min-width: 800px) {
  /* line 1392, stdin */
  nav[role="main-navigation"].mobile,
  .menu-button {
    display: none; } }

/* 880px */
/*
 * It seems that at 880px a lot of the blocks don't have enough space anymore so we break there 
 */
@media screen and (min-width: 880px) {
  /* line 1400, stdin */
  .jumbotron {
    width: 100%; } }

@media screen and (min-width: 1280px) {
  /* line 1404, stdin */
  .jumbotron {
    width: 95%; } }

/*# sourceMappingURL=maps/base.css.map */