@import '../helpers/variables';

/*
 * jumbotron
 */

.weekassignment {
  .jumbotron {
    height: 25vh;
    background-image: none;
  }
  .container {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #weekassignment {
    max-width: 100%;
    padding-top: 100px;
    background: #fff;

    .wrapper {
      margin: 0 auto;
      max-width: 1280px;
    }
  }

  .timeline {
    /* margin-bottom: -100px; */
  }

  .winner-wrapper {
    margin-top: 40px;
    display: flex;
  }

  .winner {
    display: flex;

    .information {
      border: 1px solid $default-linecolor;
      background: #fff;

      h3 {
        height: 60px;
        border-bottom: 1px solid $default-linecolor;
        padding: 0 0 0 60px;

        .place {
          height: 60px;
          margin-right: 20px;
          padding: 0 20px;
          line-height: 60px;
          font-weight: bold;
          display: inline-block;
          border-right: 1px solid $default-linecolor;
        }
      }
    }

    .entry {
      flex: 1;
      height: 200px;
      background: black;
    }
    .information {
      flex: 1;
    }

    &.second-place,
    &.third-place {
      flex: 1;
    }

    &.first-place h3 {
      box-shadow: inset 60px 0 $gold;
    }
    &.second-place h3 {
      box-shadow: inset 60px 0 $silver;
    }
    &.third-place h3 {
      box-shadow: inset 60px 0 $bronze;
    }
  }
}



/*
 * Prices
 */

.prices {
  display: flex;

  .price {
    flex: 1;
    border: 1px solid $default-linecolor;
    background: white;

    h3 {
      height: 80px;
      padding-left: 100px;
      position: relative;
      font-size: 20px;
      line-height: 45px;
      border-bottom: 1px solid $default-linecolor;
      font-weight: bold;

      &:before {
        height: 80px;
        width: 81px;
        content: "";
        display: block;
        border-right: 1px solid $default-linecolor;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .content {
      padding: 25px;
    }

    &.first-place h3 {
      color: $gold;
    }
    &.second-place h3 {
      color: $silver;
    }
    &.third-place h3 {
      color: $bronze;
    }
  }
}

.container.login-section {
  margin: 60px 0 60px 20px;
  background: $default-bg;
}

.weekassignment {
  h1 {
    margin-bottom: 1rem;
    color: $orange;
  }
  p {
    margin-bottom: 1rem;
  }
  .half {
    max-width: 66%;
    margin-left: 33%;
    margin-top: 20px;
    margin-bottom: 200px;
    padding: 40px 40px 450px 222px;
    border: 1px solid $default-linecolor;
    background: #fff;

    article {
      width: 90vh;
      position: absolute;
      margin-top: 32px;
      margin-left: -400px;
    }
  }
}