/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
/*
 * jumbotron
 */
/* line 18, stdin */
.weekassignment .jumbotron {
  height: 25vh;
  background-image: none; }

/* line 22, stdin */
.weekassignment .container {
  margin-bottom: 0;
  padding-bottom: 0; }

/* line 26, stdin */
.weekassignment #weekassignment {
  max-width: 100%;
  padding-top: 100px;
  background: #fff; }

/* line 30, stdin */
.weekassignment #weekassignment .wrapper {
  margin: 0 auto;
  max-width: 1280px; }

/* line 34, stdin */
.weekassignment .timeline {
  /* margin-bottom: -100px; */ }

/* line 37, stdin */
.weekassignment .winner-wrapper {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* line 44, stdin */
.weekassignment .winner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* line 49, stdin */
.weekassignment .winner .information {
  border: 1px solid #dddcd1;
  background: #fff; }

/* line 52, stdin */
.weekassignment .winner .information h3 {
  height: 60px;
  border-bottom: 1px solid #dddcd1;
  padding: 0 0 0 60px; }

/* line 56, stdin */
.weekassignment .winner .information h3 .place {
  height: 60px;
  margin-right: 20px;
  padding: 0 20px;
  line-height: 60px;
  font-weight: bold;
  display: inline-block;
  border-right: 1px solid #dddcd1; }

/* line 64, stdin */
.weekassignment .winner .entry {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 200px;
  background: black; }

/* line 71, stdin */
.weekassignment .winner .information {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

/* line 77, stdin */
.weekassignment .winner.second-place,
.weekassignment .winner.third-place {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

/* line 82, stdin */
.weekassignment .winner.first-place h3 {
  box-shadow: inset 60px 0 #beb16c; }

/* line 84, stdin */
.weekassignment .winner.second-place h3 {
  box-shadow: inset 60px 0 #989898; }

/* line 86, stdin */
.weekassignment .winner.third-place h3 {
  box-shadow: inset 60px 0 #956b3f; }

/*
 * Prices
 */
/* line 92, stdin */
.prices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* line 97, stdin */
.prices .price {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #dddcd1;
  background: white; }

/* line 104, stdin */
.prices .price h3 {
  height: 80px;
  padding-left: 100px;
  position: relative;
  font-size: 20px;
  line-height: 45px;
  border-bottom: 1px solid #dddcd1;
  font-weight: bold; }

/* line 112, stdin */
.prices .price h3:before {
  height: 80px;
  width: 81px;
  content: "";
  display: block;
  border-right: 1px solid #dddcd1;
  position: absolute;
  left: 0;
  top: 0; }

/* line 121, stdin */
.prices .price .content {
  padding: 25px; }

/* line 123, stdin */
.prices .price.first-place h3 {
  color: #beb16c; }

/* line 125, stdin */
.prices .price.second-place h3 {
  color: #989898; }

/* line 127, stdin */
.prices .price.third-place h3 {
  color: #956b3f; }

/* line 130, stdin */
.container.login-section {
  margin: 60px 0 60px 20px;
  background: #f6f5ef; }

/* line 134, stdin */
.weekassignment h1 {
  margin-bottom: 1rem;
  color: #ff6600; }

/* line 138, stdin */
.weekassignment p {
  margin-bottom: 1rem; }

/* line 141, stdin */
.weekassignment .half {
  max-width: 66%;
  margin-left: 33%;
  margin-top: 20px;
  margin-bottom: 200px;
  padding: 40px 40px 450px 222px;
  border: 1px solid #dddcd1;
  background: #fff; }

/* line 149, stdin */
.weekassignment .half article {
  width: 90vh;
  position: absolute;
  margin-top: 32px;
  margin-left: -400px; }

/*# sourceMappingURL=../maps/pages/assignments.css.map */