/* #86b918 */
/* #6b9413 */
/* #6d1f80 */
/* #490859 */
/* ff6600 */
/* ce5200 */
/* #55513b */
/* #85805f */
/* #b4b197 */
/* #dddcd1 */
/* f6f5ef */
/* beb16c */
/* 989898 */
/* 956B3F */
/*
 * Frontpage featured
 */
/* line 18, stdin */
#featured .content-wrapper {
  max-width: 1200px; }

/* line 21, stdin */
#featured h2 {
  margin-left: 1rem;
  margin-bottom: 1rem; }

/* line 25, stdin */
#featured .featured-spot {
  position: relative; }

/* line 27, stdin */
#featured .featured-spot header {
  width: 100%;
  padding: 30px 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ff6600; }

/* line 34, stdin */
#featured .featured-spot header p {
  color: #fff; }

/* line 36, stdin */
#featured .featured-spot h3 {
  padding-left: 40px;
  position: relative;
  color: #fff;
  font-weight: bold;
  background: url("../img/icons/logo-ing.png") no-repeat 100% 11px; }

/* line 42, stdin */
#featured .featured-spot h3:before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 8px;
  background: url("../img/icons/icon-idea.svg") no-repeat 0 0; }

/*
 * How does it work section
 */
/* line 54, stdin */
#how-wrapper {
  margin-top: -240px; }

/* line 57, stdin */
#how-does-it-work {
  position: relative; }

/* line 59, stdin */
#how-does-it-work .right {
  -webkit-box-flex: 50;
  -webkit-flex: 50;
  -ms-flex: 50;
  flex: 50;
  max-width: 66%;
  padding: 40px 40px 40px 210px;
  border: 1px solid #dddcd1;
  background: #fff; }

/* line 68, stdin */
#how-does-it-work .right ul li {
  margin-bottom: 1.5rem; }

/* line 70, stdin */
#how-does-it-work .right h3 {
  font-size: 18px;
  font-weight: bold;
  color: #55513b; }

/* line 74, stdin */
#how-does-it-work h2 {
  position: absolute;
  left: 0;
  margin-left: 10px; }

/* line 78, stdin */
#how-does-it-work .left {
  margin: 5rem 0;
  -webkit-box-flex: 25;
  -webkit-flex: 25;
  -ms-flex: 25;
  flex: 25; }

/* line 84, stdin */
#how-does-it-work .left .pull-right {
  margin-right: -250px; }

/* line 87, stdin */
#post-how-section .block {
  padding: 100px 0; }

/* line 90, stdin */
#post-how-section h2 {
  margin-bottom: 13px;
  font-size: 2.571rem; }

/* line 94, stdin */
#post-how-section p {
  margin-bottom: 16px;
  color: #000;
  font-size: 1.429rem; }

/*
 * Jury section
 */
/* line 102, stdin */
#jury h2 {
  margin-left: 1rem;
  margin-bottom: 1rem; }

/* line 106, stdin */
.jury {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* line 114, stdin */
.jury .member {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px;
  position: relative; }

/* line 121, stdin */
.jury .member h3 {
  width: 100%;
  height: 40px;
  padding-left: 80px;
  position: relative;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  font-size: 1rem;
  position: absolute;
  bottom: -40px;
  text-transform: uppercase;
  background: #ff6600;
  box-shadow: inset 40px 0 0 #ce5200;
  -webkit-transition: box-shadow 0.13s ease-in;
  transition: box-shadow 0.13s ease-in; }

/* line 137, stdin */
.jury .member h3:hover {
  box-shadow: inset 24rem 0 0 #ce5200; }

/* line 139, stdin */
.jury .member h3 a {
  color: #fff;
  text-decoration: none; }

/* line 142, stdin */
.jury .member h3:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
  background: url("../img/icons/jury-icon.svg") no-repeat 0 0; }

/* line 151, stdin */
.jury .member.ruud .picture {
  background: url("../img/member_ruud.jpg");
  background-size: cover; }

/* line 154, stdin */
.jury .member.anouk .picture {
  background: url("../img/member_anouk.jpg");
  background-size: cover; }

/* line 157, stdin */
.jury .member.coen .picture {
  background: url("../img/member_coen.jpg");
  background-size: cover; }

/* line 160, stdin */
.jury .member.sander .picture {
  background: url("../img/member_sander.jpg");
  background-size: cover; }

/* line 163, stdin */
.jury .member .picture {
  height: 300px;
  background-size: cover; }

/* line 166, stdin */
.jury .member:last-child {
  margin-right: 0; }

/*# sourceMappingURL=../maps/pages/frontpage.css.map */