/* breakpoints */
/* mobile navigation */
@media screen and (max-width: 800px) {
  /* line 4, stdin */
  .video {
    width: 100% !important; }
  /* line 6, stdin */
  .menu-button {
    position: absolute;
    z-index: 100000;
    margin: 1em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    position: fixed;
    top: 5px;
    overflow: hidden;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
    -webkit-transition: -webkit-transform 0.13s ease-in;
    transition: transform 0.13s ease-in; }
  /* line 23, stdin */
  .menu-button:before {
    content: "";
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: -webkit-linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
    background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%); }
  /* line 32, stdin */
  .menu-button.small {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  /* line 36, stdin */
  nav[role="main-navigation"] {
    display: none; }
  /* line 38, stdin */
  nav[role="main-navigation"].mobile {
    display: block;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.23s ease-in;
    transition: transform 0.23s ease-in; }
  /* line 45, stdin */
  nav[role="main-navigation"].mobile a {
    display: block; }
  /* line 47, stdin */
  nav[role="main-navigation"].mobile .close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer; }
  /* line 52, stdin */
  nav[role="main-navigation"].mobile.open {
    height: 100%;
    padding: 4rem 2rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000; }
  /* line 59, stdin */
  nav[role="main-navigation"].mobile.open a {
    margin: 1rem 0;
    display: block;
    font-size: 2rem; }
  /* line 63, stdin */
  .layout-wrapper {
    -webkit-transition: -webkit-transform 0.23s ease-in;
    transition: transform 0.23s ease-in; }
  /* line 66, stdin */
  .navigation-open nav[role="main-navigation"].mobile {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  /* line 70, stdin */
  .navigation-open .layout-wrapper {
    -webkit-transform: translateX(90%);
    -ms-transform: translateX(90%);
    transform: translateX(90%);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.25); }
  /* hide user navigation */
  /* line 76, stdin */
  nav[role="user-navigation"] {
    display: none; }
  /* line 78, stdin */
  .jumbotron {
    height: 100vh; }
  /* line 80, stdin */
  .jumbotron .introduction {
    max-width: 100%;
    top: auto;
    left: 5px;
    bottom: 165px; }
  /* line 85, stdin */
  .jumbotron .btn {
    text-align: center; }
  /*
   * timeline
   */
  /* line 91, stdin */
  .timeline .week.ended,
  .timeline .week.closed {
    display: none; }
  /* line 93, stdin */
  #how-does-it-work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  /* line 99, stdin */
  #how-does-it-work h2 {
    left: 0; }
  /* line 101, stdin */
  #how-does-it-work .left .pull-right {
    margin-right: 0; }
  /* line 103, stdin */
  #how-does-it-work .right {
    max-width: 100%;
    margin: 0 20px;
    padding: 40px 40px 40px 5px; }
  /* line 107, stdin */
  .post-section .block {
    margin-top: 20px; }
  /* line 109, stdin */
  #featured .content-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  /* line 116, stdin */
  #featured .featured-spot header {
    padding: 15px; }
  /* line 118, stdin */
  #featured .featured-spot h3 {
    padding-left: 35px;
    background-position: 100% 15px;
    background-size: 80px; }
  /* line 122, stdin */
  #featured .featured-spot h3:before {
    background-size: 34px; }
  /* line 124, stdin */
  .jury .member {
    margin-bottom: 60px;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  /* line 129, stdin */
  .jury .member h3 {
    padding-left: 45px; }
  /* line 131, stdin */
  .layout-wrapper .container-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    /*    padding-top: 50px;
    padding-bottom: 50px; */ }
  /* line 136, stdin */
  .layout-wrapper .container-wrapper .container {
    /* padding-bottom: 0; */ }
  /* line 138, stdin */
  .content-wrapper .half {
    padding: 0; }
  /* line 140, stdin */
  .content-wrapper .half:nth-child(1) {
    padding: 0; }
  /* line 142, stdin */
  .content-wrapper .half:nth-child(2) .row {
    margin-top: 10px; }
  /* line 144, stdin */
  #post-how-section h2 {
    display: inline;
    line-height: 66px; }
  /* line 147, stdin */
  #post-how-section .block {
    padding: 10px 0; } }

@media screen and (max-width: 1200px) {
  /* line 151, stdin */
  .jury .member h3 {
    line-height: 1.4rem;
    font-size: 1rem; } }

@media screen and (min-width: 800px) {
  /* line 157, stdin */
  nav[role="main-navigation"].mobile,
  .menu-button {
    display: none; } }

/* 880px */
/*
 * It seems that at 880px a lot of the blocks don't have enough space anymore so we break there 
 */
@media screen and (min-width: 880px) {
  /* line 165, stdin */
  .jumbotron {
    width: 100%; } }

@media screen and (min-width: 1280px) {
  /* line 169, stdin */
  .jumbotron {
    width: 95%; } }

/*# sourceMappingURL=../maps/mediaqueries/mediaqueries.css.map */