<!doctype html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Leukste amateurclub van Nederland</title>
  <link rel="stylesheet" href="css/base.css">
</head>

<body>
  <div class="layout-wrapper">
    <header class="header">
      <div class="wrapper">
        <nav role="main-navigation" class="open">
          <a href="index.html" class="active">Home</a>
          <a href="weekassignment.html">Weekopdrachten</a>
          <a href="#">Zoek een club</a>
          <a href="#">FAQ</a>
        </nav>

        <div class="branding"><a href="#">Logo</a></div>

        <nav role="user-navigation">
          <div class="wrapper">
            <a href="#" class="btn solid green">Doe mee</a>
            <a href="#" class="btn orange">Login</a>
          </div>
        </nav>

        <nav role="user-navigation" class="logged-in">
          <div class="wrapper">
            <a href="#" class="clublogo">Mijn club</a>
            <a href="#">Mijn profiel</a>
            <a href="#">Uitloggen</a>
          </div>
        </nav>
      </div>
    </header>

    <section class="jumbotron">
      <article class="">
        <h1>Win €20.000 voor jouw club</h1>

      </article>
    </section>

    <section class="container">
      <h1>Veelgestelde vragen</h1>
    </section>


    <div class="container-wrapper small">
      <section class="container content">
        <p>Aenean massa. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Nam commodo suscipit quam. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam.</p>

        <p>Proin faucibus arcu quis ante. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec venenatis vulputate lorem. Suspendisse non nisl sit amet velit hendrerit rutrum. Phasellus magna.</p>

        <p>Ut varius tincidunt libero. Pellentesque dapibus hendrerit tortor. Phasellus a est.. Sed a libero.</p>

        <p>Ut id nisl quis enim dignissim sagittis. Aenean commodo ligula eget dolor. Nullam quis ante. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Nunc sed turpis.</p>

        <p>Sed in libero ut nibh placerat accumsan. Vivamus laoreet. Nullam accumsan lorem in dui. Nunc nulla. Curabitur suscipit suscipit tellus.</p>

        <p>Aenean massa. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Nam commodo suscipit quam. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam.</p>

        <p>Proin faucibus arcu quis ante. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec venenatis vulputate lorem. Suspendisse non nisl sit amet velit hendrerit rutrum. Phasellus magna.</p>

        <p>Ut varius tincidunt libero. Pellentesque dapibus hendrerit tortor. Phasellus a est.. Sed a libero.</p>

        <p>Ut id nisl quis enim dignissim sagittis. Aenean commodo ligula eget dolor. Nullam quis ante. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Nunc sed turpis.</p>

        <p>Sed in libero ut nibh placerat accumsan. Vivamus laoreet. Nullam accumsan lorem in dui. Nunc nulla. Curabitur suscipit suscipit tellus.</p>
      </section>
    </div>

    <footer role="document-footer">
      <div class="wrapper">
        <nav>
          <a href="#">Gebruikersvoorwaarden</a> -
          <a href="#">Privacy policy</a> -
          <a href="#">Cookie policy</a>
        </nav>

        <p class="partners">
          <a href="http://538.nl" class="partner radio538"><img src="img/icons/logo-538.png" alt="logo radio 538" /></a>
          <a href="http://ing.nl" class="partner ing"><img src="img/icons/logo-ing.png" alt="logo ING bank" /></a>
          Mede mogelijk gemaakt door: <a href="http://www.knvb.nl" class="partner knvb"><img src="img/icons/logo-knvb.png" alt="logo KNVB" /></a>
        </p>
      </div>
    </footer>
  </div>
  <script src="./scripts/jquery.min.js"></script>
  <script src="./scripts/angular.min.js"></script>
  <script src="./scripts/project.js"></script>
</body>
</html>