<!doctype html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Leukste amateurclub van Nederland</title>
  <link rel="stylesheet" href="css/base.css">
</head>

<body>
  <header class="header">
    <nav role="main-navigation">
      <a href="#">Home</a>
      <a href="#">Hoe werkt het?</a>
      <a href="#">Zoeken een club</a>
      <a href="#">Contact</a>
    </nav>

    <a href="#">Logo</a>

    <nav role="user-navigation">
      <a href="#" class="btn">Doe mee</a>
      <a href="#" class="btn">Login</a>
    </nav>

    <nav role="user-navigation" class="logged-in">
      <a href="#" class="clublogo">Mijn club</a>
      <a href="#">Mijn profiel</a>
      <a href="#">Uitloggen</a>
    </nav>
  </header>

  <section class="jumbotron">
    <p class="partners">
      <a href="http://www.knvb.nl">KNVB</a>
      <a href="http://538.nl">538</a>
      <a href="http://ing.nl">ING</a>
    </p>
    <article class="introduction">
      <h1>Win €20.000 voor jouw club</h1>
      <p>Maak elke week kans op prijzen en een plek in de finale om €20.000 te winnen. Meld je aan, zoek je club, vul de clubdroom in en doe mee met de opdrachten.</p>
      <a href="#" class="btn">Doe mee</a> of <a href="#" class="btn">Login</a>
    </article>
  </section>

  <section class="container">
    <h2>De weekopdrachten</h2>

    <div class="timeline">
      <div class="week ended">
        <h3>Weekopdracht 1</h3>
        <h4>Winnaar</h4>
      </div>

      <div class="week current">
        <h3>Weekopdracht 2</h3>
        <h4>Deadline</h4>
        <p class="counter">
          <span class="days">
            <strong>03</strong>
            Dagen
          </span>
          <span class="hours">
            <strong>14</strong>
            Uur
          </span>
          <span class="days">
            <strong>54</strong>
            Minuten
          </span>
          <span class="days">
            <strong>14</strong>
            Seconden
          </span>
        </p>
      </div>

      <div class="week closed">
        <h3>Weekopdracht 3</h3>
        <p>Start 16 oktober</p>
      </div>

      <div class="week closed">
        <h3>Weekopdracht 4</h3>
        <p>Start 23 oktober</p>
      </div>
    </div>

    <h2>Hoe werkt het</h2>
    <div class="content-wrapper">
      <div class="half left">
        <ul>
          <li>
            <h3>1. Meld je aan en vind jouw clubpagina</h3>
            <p>
              Integer varius tempor mi vel placerat. Donec facilisis ex et mi auctor, eu congue ligula tincidunt.
              Sed a tellus augue. Cras auctor risus ante, sed euismod ex viverra eget.
            </p>
          </li>
          <li>
            <h3>2. Meld je aan en vind jouw clubpagina</h3>
            <p>
              Integer varius tempor mi vel placerat. Donec facilisis ex et mi auctor, eu congue ligula tincidunt.
              Sed a tellus augue. Cras auctor risus ante, sed euismod ex viverra eget.
            </p>
          </li>
          <li>
            <h3>3. Meld je aan en vind jouw clubpagina</h3>
            <p>
              Integer varius tempor mi vel placerat. Donec facilisis ex et mi auctor, eu congue ligula tincidunt.
              Sed a tellus augue. Cras auctor risus ante, sed euismod ex viverra eget.
            </p>
          </li>
          <li>
            <h3>4. Meld je aan en vind jouw clubpagina</h3>
            <p>
              Integer varius tempor mi vel placerat. Donec facilisis ex et mi auctor, eu congue ligula tincidunt.
              Sed a tellus augue. Cras auctor risus ante, sed euismod ex viverra eget.
            </p>
          </li>
        </ul>
      </div>
      <div class="half right">
        <div style="background: black; width: 100%; height: 400px;"></div>
      </div>
    </div>
    <div class="post-section">
      <div class="block login">
        <h2>Win €20.000 voor jouw club</h2>
        <a href="#" class="btn">Doe mee</a> of <a href="#" class="btn">Login</a>
      </div>
    </div>
  </section>

  <section class="container">
    <h2>Uitgelicht</h2>

    <div class="content-wrapper">
      <div class="half">
        <article class="placeholder">
          
        </article>
      </div>

      <div class="half">
        <article class="placeholder">larger</article>
        <article class="placeholder">smaller</article>
        <article class="placeholder">smaller</article>
      </div>
    </div>
  </section>

  <section class="container">
    <h2>De Jury</h2>
    <div class="jury">
      <div class="member ruud">
        <h2>Ruud van Nistelrooij</h2>
        <div class="picture">

        </div>
      </div>

      <div class="member anouk">
        <h2>Anouk Hoogendijk</h2>
        <div class="picture"></div>
      </div>

      <div class="member coen">
        <h2>Coen Swijnenberg</h2>
        <div class="picture"></div>
      </div>

      <div class="member sander">
        <h2>Sander Lantinga</h2>
        <div class="picture"></div>
      </div>
    </div>
  </section>

  <footer>
    <nav>
      <a href="#">Gebruikersvoorwaarden</a> -
      <a href="#">Privacy policy</a> -
      <a href="#">Cookie policy</a> -
    </nav>

    <p class="partners">
      <a href="http://www.knvb.nl">KNVB</a>
      <a href="http://538.nl">538</a>
      <a href="http://ing.nl">ING</a>
    </p>
  </footer>
</body>
</html>