<!doctype html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Leukste amateurclub van Nederland</title>
  <link rel="stylesheet" href="css/base.css">
</head>

<body>
  <header class="header">
    <nav role="main-navigation">
      <a href="#">Home</a>
      <a href="#">Hoe werkt het?</a>
      <a href="#">Zoeken een club</a>
      <a href="#">Contact</a>
    </nav>

    <p class="partners">
      <a href="http://www.knvb.nl">KNVB</a>
      <a href="http://538.nl">538</a>
      <a href="http://ing.nl">ING</a>
    </p>

    <nav role="user-navigation">
      <a href="#" class="btn">Doe mee</a>
      <a href="#" class="btn">Login</a>
      <form>
        <label><input type="text" /></label>
        <label><input type="password" /></label>
        <input type="submit" value="Login" />
      </form>
    </nav>
  </header>

  <section class="jumbotron">
    <article class="introduction">
      <h1>Win €20.000 voor jouw club</h1>
      <p>Maak elke week kans op prijzen en een plek in de finale om €20.000 te winnen. Meld je aan, zoek je club, vul de clubdroom in en doe mee met de opdrachten.</p>
      <a href="#" class="btn">Doe mee</a> of <a href="btn">Login</a>
    </article>
  </section>

  <main role="main">

  <h1>Hello World</h1>
  </main>
</body>
</html>