<form>
  <div class="half">
    <h2>De leukste amateurclub van Nederland</h2>

    <p>Login met je social account of e-mailadres en doe mee met jouw club</p>

    <p>Heb je nog geen account?</p>
    <a href="#" class="btn">Doe mee</a>
  </div>

  <div class="half">
    <h3>Log in met een van je social accounts</h3>
    <p>SOCIAL MEDIA BUTTONS</p>

    <p>Of je e-mailadres</p>

    <label>
      E-mailadres
      <input type="email" />
    </label>

    <label>
      Wachtwoord <a href="#">wachtwoord vergeten</a>
      <input type="password" />
    </label>

    <input type="submit" class="btn" value="inloggen" />
  </div>

  <footer>
    <a href="#">Gebruikersvoorwaarden</a> -
    <a href="#">Privacy policy</a> -
    <a href="#">Cookie policy</a> -
  </footer>
</form>