<!doctype html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Leukste amateurclub van Nederland</title>
  <link rel="stylesheet" href="css/base.css">
</head>

<body ng-app="lavn" class="weekassignment">
  <header class="header">
    <div class="wrapper">
      <nav role="main-navigation">
        <a href="index.html">Home</a>
        <a href="weekassignment.html" class="active">Weekopdrachten</a>
        <a href="#">Zoek een club</a>
        <a href="#">FAQ</a>
      </nav>

      <div class="branding"><a href="#">Logo</a></div>

      <nav role="user-navigation">
        <div class="wrapper">
          <a href="#" class="btn solid green">Doe mee</a>
          <a href="#" class="btn orange">Login</a>
        </div>
      </nav>

      <nav role="user-navigation" class="logged-in">
        <div class="wrapper">
          <a href="#" class="clublogo">Mijn club</a>
          <a href="#">Mijn profiel</a>
          <a href="#">Uitloggen</a>
        </div>
      </nav>
    </div>
  </header>

  <div class="container-wrapper medium">
    <section class="container" id="weekassignment">
        <div class="timeline">
          <div class="week ended">
            <h3>Weekopdracht 1</h3>
            <div class="content">
              <p>
                De weekopdracht van week 1 is voorbij. <br />
                De winner is: <strong>S.V. DZC `68</strong>
              </p>
            </div>
          </div>

          <div class="week current">
            <h3><a href="#">Weekopdracht 2</a></h3>
            <div class="content">
              <p>
                Bekijk <a href="#">hier</a> snel wat je moet doen om jouw club leuke prijzen te laten winnen.
              </p>
              <footer>
                <div class="counter" id="countdown">
                  <span class="days">
                    <strong>03</strong>
                    Dagen
                  </span>
                  <span class="hours">
                    <strong>14</strong>
                    Uur
                  </span>
                  <span class="days">
                    <strong>54</strong>
                    Minuten
                  </span>
                  <span class="days">
                    <strong>14</strong>
                    Seconden
                  </span>
                </div>
              </footer>
            </div>
          </div>

          <div class="week closed">
              <h3>Weekopdracht 3</h3>
            <div class="content locked">
              <p>Deze opdracht wordt bekendgemaakt op <strong>16 oktober</strong></p>
            </div>
          </div>

          <div class="week closed">
              <h3>Weekopdracht 4</h3>
            <div class="content locked">
              <p>Deze opdracht wordt bekendgemaakt op <strong>23 oktober</strong></p>
            </div>
          </div>
        </div>
      <h2 class="multiline"><span>De tweede</span><span>Weekopdracht</span></h2>
      <div class="wrapper">
        <div class="half right">
          <h1>Zet de grootste supportersactie op touwen tijdens een jeugdwedstrijd van jouw club.</h1>
          <p>Maak een filmpje of foto's en laat een bericht achter op jouw clubpagina om kans te maken op één van de drie prijzen.</p>
          <a href="#" class="btn solid orange">Doe mee</a> <a href="#" class="btn solid green">Inloggen</a>
        </div>
      </div>
    </section>
  </div>

  <div class="container-wrapper">
    <section class="container" id="winners">
      <h2>De 3 winnaars</h2>

      <div class="winner first-place">
        <div class="entry placeholder">

        </div>
        <div class="information">
          <h3><span class="place">1e plaats</span></h3>
          <div class="content">
            <img src="#" alt="clublogo" />
            <h4>Clubnaam</h4>
            <h5>Clubplaats</h5>
          </div>
        </div>
      </div>
      <div class="winner-wrapper">
        <div class="winner second-place">
          <div class="entry placeholder" style="background: black;">
          </div>
          <div class="information">
            <h3><span class="place">1e plaats</span> <span class="entry-by"> ingezonden door Koen Post</span></h3>
            <div class="content">
              <img src="#" alt="clublogo" />
              <h4>Clubnaam</h4>
              <h5>Clubplaats</h5>
            </div>
            <span class="entry-by"> ingezonden door Koen Post</span>
          </div>
        </div>
        <div class="winner third-place">
          <div class="entry placeholder">

          </div>
          <div class="information">
            <h3><span class="place">1e plaats</span> <span class="entry-by"> ingezonden door Koen Post</span></h3>
            <div class="content">
              <img src="#" alt="clublogo" />
              <h4>Clubnaam</h4>
              <h5>Clubplaats</h5>
            </div>
            <span class="entry-by"> ingezonden door Koen Post</span>
          </div>
        </div>
      </div>
    </section>
  </div>



  <div class="container-wrapper small">
    <section class="container" id="prices">
      <h2>De prijzen</h2>
      <div class="prices">
        <div class="price first-place">
          <h3>Eerste plaats</h3>
          <div class="content">
            <p>Een finale plaats en er komt een 538 DJ bij jouw club draaien</p>
          </div>
        </div>

        <div class="price second-place">
          <h3>Tweede plaats</h3>
          <div class="content">
            <p>Jullie mogen de spelersbus van het Nederlands elftal gebruiken</p>
          </div>
        </div>

        <div class="price third-place">
          <h3>Derde plaats</h3>
          <div class="content">
            <p>1000 gloednieuwe voetballen voor de hele club</p>
          </div>
        </div>
      </div>
    </section>

    <section class="container">
      <div class="post-section" id="post-how-section">
        <div class="block login">
          <h2>Win €20.000 voor jouw club</h2>
          <p>
            Maak elke week kans op een plek in de finale om €20.000 te winnen. Meld je aan, <br />
            zoek je club, vul de clubdroom in en doe mee met de opdrachten.
          </p>
          <a href="#" class="btn solid green">Doe mee</a> <a href="#" class="btn orange">Login</a>
        </div>
      </div>
    </section>
  </div>



  <footer role="document-footer">
    <div class="wrapper">
      <nav>
        <a href="#">Gebruikersvoorwaarden</a> -
        <a href="#">Privacy policy</a> -
        <a href="#">Cookie policy</a> -
      </nav>

      <p class="partners">
        <a href="http://538.nl" class="partner radio538"><img src="img/icons/logo-538.png" alt="logo radio 538" /></a>
        <a href="http://ing.nl" class="partner ing"><img src="img/icons/logo-ing.png" alt="logo ING bank" /></a>
        Mede mogelijk gemaakt door: <a href="http://www.knvb.nl" class="partner knvb"><img src="img/icons/logo-knvb.png" alt="logo KNVB" /></a>
      </p>
    </div>
  </footer>

  <script src="./scripts/jquery.min.js"></script>
  <script src="./scripts/angular.min.js"></script>
  <script src="./scripts/project.js"></script>
</body>
</html>