/* breakpoints */

/* mobile navigation */

@media screen and (max-width: 800px) {

  .branding {
    background: url('../img/LAVN_medium.svg') no-repeat 50% 50%;
  }

  .menu-button {
    position: absolute;
    z-index: 100000;
    margin: 1em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    overflow: hidden;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);

    &:before {
      content: "";
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      bottom: 0.5em;
      left: 0.5em;
      background: linear-gradient(#373a47 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 40%, #373a47 40%, #373a47 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 80%, #373a47 80%);
    }
  }

  nav[role="main-navigation"] {
    display: none;
  }

  nav[role="main-navigation"].mobile {
    width: 60%;
    display: block;
    transform: translateX(-100%);
    transition: transform .23s ease-in;

    &:before {
    }

    a {
      display: block;
    }

    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }

    &.open {
      height: 100%;
      padding: 4rem 2rem 2rem;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10000;

      a {
        margin: 1rem 0;
        display: block;
        font-size: 2rem;
      }
    }
  }

  .layout-wrapper {
    transform: translateX(0);
    transition: transform .23s ease-in;
  }

  .navigation-open {
    nav[role="main-navigation"].mobile {
      transform: translateX(0);
    }
    .layout-wrapper {
      transform: translateX(90%);
      box-shadow: -2px 0 10px rgba(0,0,0, .25);
    }
  }


  .jumbotron {
    height: 100vh;

    .introduction {
       max-width: 100%;
       top: 50%;
    }

    .btn {
      text-align: center;
    }
  }


  /*
   * timeline
   */
    .timeline {
      .week.ended,
      .week.closed {
        display: none;
      }
    } 

    #how-does-it-work {
      flex-direction: column;

      h2 {
        left: 0;
      }

      .left .pull-right {
        margin-right: 0;
      }
      .right {
        max-width: 100%;
        padding: 40px;
      }
    }

    .post-section .block {
      margin-top: 20px;
    }

}

@media screen and (min-width: 800px) {
  nav[role="main-navigation"].mobile {
    display: none;
  }
}

/* 880px */
/*
 * It seems that at 880px a lot of the blocks don't have enough space anymore so we break there 
 */

@media screen and (min-width: 880px) {
  .jumbotron {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .jumbotron {
    width: 95%;
  }
}