@import '../helpers/variables';

/*
 * Card layout
 */

.card {
  margin-bottom: 10px;
  padding: 20px;
  display: inline-block;
  font-weight: 300;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #CBDDE3;
  background: #fff;

  &.attention {
    border: 2px solid #DB6755;
  }
  .description {
    margin-bottom: 1em;
  }
}

.card.textarea {
  padding: 0;
  width: 100%;
}