@import '../helpers/variables';


/*
 * Form elements
 */


input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  font-size: 16px;
}

/*
 * login form
 */

.login {
    
}

label {
  margin-bottom: 7px;
  display: block;
  line-height: 18px;
  font-weight: bold;

  span {
    font-weight: normal;
    display: block;
  }
}

input[type="text"],
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px 0 11px 17px;
  border: 1px solid $default-textcolor;
}

form {
  input[type="submit"].right {
    float: right;
  }
}