@import '../helpers/variables';


@font-face {
    font-family: 'tbotmregular';
    src: url('../fonts/tbotm/tbotm-webfont.eot');
    src: url('../fonts/tbotm/tbotm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tbotm/tbotm-webfont.woff2') format('woff2'),
         url('../fonts/tbotm/tbotm-webfont.woff') format('woff'),
         url('../fonts/tbotm/tbotm-webfont.ttf') format('truetype'),
         url('../fonts/tbotm/tbotm-webfont.svg#tbotmregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * 16px = 1rem
 */

html {
  font-size: 14px;
}

h1 {
  font-weight: 700;
  font-size: 2.25rem;
}

h2 {
  padding: 1em 0;
  font-weight: 300;
  font-size: 1.714rem;
  font-family: 'tbotmregular';
}

h3 {
  padding: 1em 0;
  font-weight: 300;
  font-size: 1.25rem;
}

h4 {

}

h5 {

}

p {
  font-size: 1rem;
  color: $default-textcolor;
}

a {
  color: $orange;
}




/*
 * Buttons
 */

a.btn {
  text-decoration: none;
}

.btn {
  padding: 10px 30px 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  transition: box-shadow .13s ease-in, padding .13s ease-in;

  &:before {
    content: "<";
    position: absolute;
    font-weight: bold;
    top: 9px;
    left: 12px;
    transition: color .13s ease-in;
  }

  &:not(.solid):hover:before {
    color: white;
  }

  /* color values */
  &.green {
    color: $green;
  }
  &.purple {
    color: $purple;
  }
  &.orange {
    color: $orange;
  }

  /* solids */
  &.solid {
    color: #fff;
    background: #f1f1f1;
    box-shadow: inset 6px 0 0;
  }

  &.solid.green {
    background: $green;
    box-shadow: inset 6px 0 0 $green-accent;
  }
  &.solid.purple {
    background: $purple;
    box-shadow: inset 6px 0 0 $purple-accent;
  }
  &.solid.orange {
    background: $orange;
    box-shadow: inset 6px 0 0 $orange-accent;
  }


  /* hover states */
  &:hover {
    padding: 10px 12px 10px 50px;
  }

  &.green:hover {
    box-shadow: inset 36px 0 0 $green-accent;
  }
  &.purple:hover {
    box-shadow: inset 36px 0 0 $purple-accent;
  }
  &.orange:hover {
    box-shadow: inset 36px 0 0 $orange-accent;
  }
}

input.btn {
  border: none;
}


/*

8px = 0.5714rem
9px = 0.6429rem
10px = 0.7143rem
11px = 0.7857rem
12px = 0.8571rem
13px = 0.9286rem
14px = 1rem (base)
15px = 1.071rem
16px = 1.143rem
18px = 1.286rem
20px = 1.429rem
22px = 1.571rem
24px = 1.714rem
26px = 1.857rem
28px = 2rem
30px = 2.143rem
32px = 2.286rem
34px = 2.429rem
36px = 2.571rem
38px = 2.714rem
40px = 2.857rem

*/



.list {
  list-style: none;
  padding: 0;

  li {
    position: relative;
    margin-left: 2rem;

    .content {
      margin-left: 4rem;
    }
  }

  li span {
    width: 60px;
    height: 60px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    line-height: 55px;
    left: -1.5rem;
    color: $orange;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    box-shadow: 0 0 0 6px $default-background;
    border: 3px solid $orange;
    background: #fff;

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 80px;
      width: 6px;
      left: 50%;
      top: 60px;
      margin-left: -3px;
      background: $default-background;
    }
  }

  li:last-child span:after {
    display: none;
  }

  &.steps {
    li span {
      border-color: white;
      color: $lighter-textcolor;

    }
    li.active span {
      color: $orange;
      border-color: $orange;
    }
  }

  &.medium {
    li span {
      width: 40px;
      height: 40px;
      font-size: 1.714rem;
      line-height: 35px;
    }
  }

  .content {
    h4 {
      font-size: 1.286rem;
      color: $default-textcolor;
    }
    p {
      color: $medium-textcolor;
    }
  }
}