@import '../helpers/variables';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,400);

*, *:before, *:after {
  box-sizing: border-box;
}

main[role="main"] {
  display: flex;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: $default-background;
}

.container-wrapper {
  width: 100%;
  padding-top: 240px;
  box-shadow: inset 0 460px rgba(255, 255, 255, 1);

  &.medium {
    padding-top: 120px;
    box-shadow: inset 0 275px rgba(255, 255, 255, 1);
  }
  &.small {
    padding-top: 100px;
    box-shadow: inset 0 200px rgba(255, 255, 255, 1);
  }
}

.container {
  max-width: 1280px;
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
  position: relative;

  &.full {
    max-width: 100%;
  }

  h2 {
    padding: 4px 10px;
    color: white;
    display: inline-block;
    background: black;

    &.multiline {
      background: none;
      padding: 0;

      span {
        padding: 4px 10px;
        background: black;

        &:last-child {
          margin-top: 10px;
          display: block;
        }
      }
    }
  }
}

/*
 * Jumbotron default
 */

.jumbotron {
  height: 80vh;
  margin: 0 auto 270px;
  position: relative;
  background: $default-background url('../img/lavn-header.jpg') no-repeat 50% 50%;
  background-attachment: fixed;
  background-size: cover;

  .introduction {
    max-width: 55%;
    position: absolute;
    left: 4%;
    top: 20%;

    h1 {
      margin-bottom: .5rem;
      padding: 10px;
      font-size: 2rem;
      display: inline-block;
      background: white;
    }
    p {
      padding: 10px;
      color: white;
      font-size: 21px;
      display: inline-block;
    }
  }
}


article {
  &.placeholder {
    width: 100%;
    height: 500px;
    margin-bottom: 5px;
    background: black;
  }
}

/*
 * Content wrapper for content that is a 2 column content 
 */

.content-wrapper {
  display: flex;

  .half {
    padding: 5px;
    flex: 1;
  }
  .half:nth-child(1) {
    padding-left: 0;
    padding-right: 20px;
  }
  .half:nth-child(2) {
    padding-left: 0;

    article {
      width: 100%;
      display: inline-block;
      height: 200px;
    }

    .row {
      margin-top: 20px;

      article {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .row {
    display: flex;

    article {
      flex: 1;
    }
  }
}


/*
.post-section {
  position: absolute;
  left: 0;

  h2 {
    margin-bottom: 1rem;
    display: block;
  }

  .block {
    margin-top: -20%;
  }
}
*/

.before-bg {
  content: "";
  width: 150%;
  left: 0;
  position: absolute;
  top: -50%;
  height: 50vh;
  background: red;
  z-index: -1;
}


footer[role="document-footer"] {
  margin-top: 110px;
  background: white;

  .wrapper {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
  }
  nav {
    margin-bottom: 40px;
    padding-top: 40px;
    text-align: center;
  }

  a {
    color: #000;
  }
}

@media screen and (min-width: 880px) {
  footer[role="document-footer"] {
    height: 95px;

    nav {
      text-align: left;
    }

    .partners {
      position: absolute;
      top: 20px;
      right: 0;
    }
  }
}




textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  border: none;
}