@import '../helpers/variables';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400,300);

*, *:before, *:after {
  box-sizing: border-box;
}

main[role="main"] {
  display: flex;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: $default-bg;
}

.container {
  max-width: 1280px;
  padding-bottom: 100px;
  display: block;
  margin: 80px auto;
  position: relative;

  &.full {
    max-width: 100%;
  }

  h2 {
    padding: 4px 10px;
    color: white;
    display: inline-block;
    background: black;

    &.multiline {
      background: none;
      padding: 0;

      span {
        padding: 4px 10px;
        background: black;

        &:last-child {
          margin-top: 10px;
          display: block;
        }
      }
    }
  }
}

/*
 * Jumbotron default
 */

.jumbotron {
  height: 80vh;
  margin: 0 auto;
  position: relative;
  background: $default-bg url('../img/lavn-header.jpg') no-repeat 50% 50%;
  background-attachment: fixed;
  background-size: cover;

  .introduction {
    max-width: 55%;
    position: absolute;
    left: 4%;
    top: 20%;

    h1 {
      margin-bottom: .5rem;
      padding: 10px;
      font-size: 2rem;
      display: inline-block;
      background: white;
    }
    p {
      padding: 10px;
      color: white;
      font-size: 21px;
      display: inline-block;
    }
  }
}


article {
  &.placeholder {
    width: 100%;
    height: 500px;
    margin-bottom: 5px;
    background: black;
  }
}

/*
 * Frontpage featured
 */
#featured {
  .content-wrapper {
    max-width: 1280px;
  }

  h2 {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .featured-spot {
    position: relative;

    header {
      width: 100%;
      padding: 30px 25px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $orange;

      p {
        color: #fff;
      }
    }

    h3 {
      padding-left: 40px;
      position: relative;
      color: #fff;
      font-weight: bold;
      background: url('../img/icons/logo-ing.png') no-repeat 100% 11px;
    }
    h3:before {
      content: "";
      width: 50px;
      height: 50px;
      position: absolute;
      left: 0;
      top: 8px;
      background: url('../img/icons/icon-idea.svg') no-repeat 0 0;
    }
  }
}

#jury {
  h2 {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}


.content-wrapper {
  display: flex;

  .half {
    padding: 5px;
    flex: 1;
  }
  .half:nth-child(1) {
    padding-left: 0;
    padding-right: 2px;
  }
  .half:nth-child(2) {
    padding-left: 3px;

    article {
      width: 100%;
      display: inline-block;
      height: 200px;
    }

    /* test css, remove after */
    article:nth-child(even) {
      background: red;
    } 
  }

  .row {
    display: flex;

    article {
      flex: 1;
    }
  }
}

.post-section {
  position: absolute;
  left: 0;

  h2 {
    margin-bottom: 1rem;
    display: block;
  }

  .block {
    margin-top: -20%;
  }
}

#how-does-it-work {
  position: relative;

  .right {
    flex: 50;
    max-width: 66%;
    padding: 40px 40px 40px 300px;
    border: 1px solid $default-linecolor;
    background: #fff;

    ul li {
      margin-bottom: 1.5rem;
    }

    h3 {
      font-size: 18px;
      font-weight: bold;
      color: $default-textcolor;
    }
  }
  h2 {
    position: absolute;
    left: 72%;
  }

  .left {
    margin: 5rem 0;
    flex: 25;

    .pull-right {
      margin-right: -250px;
    }
  }


  .list {
    list-style: none;
    padding: 0;
    
    
    li {
      position: relative;
      margin-left: 2rem;
    }
    
    li span {
      width: 60px;
      height: 60px;
      background: #fff;
      position: absolute;
      text-align: center;
      border-radius: 50%;
      line-height: 55px;
      left: -1.5rem;
      color: #ff6600;
      font-size: 28px;
      font-weight: bold;
      display: inline-block;
      box-shadow: 0 0 0 6px #F6F5EF;
      border: 3px solid #ff6600;
      background: white;
      
      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 200px;
        width: 6px;
        left: 50%;
        top: 60px;
        margin-left: -3px;
        background: #F6F5EF;
      }
    }
    li:last-child span:after {
      display: none;
    }
  }
}

.before-bg {
  content: "";
  width: 150%;
  left: 0;
  position: absolute;
  top: -50%;
  height: 50vh;
  background: red;
  z-index: -1;
}

.jury {
  display: flex;
  flex-wrap: wrap;

  .member {
    flex: 1;
    position: relative;

    h3 {
      width: 100%;
      height: 60px;
      margin: -1px -1px 0 -1px;
      padding-left: 80px;
      position: relative;
      color: #fff;
      font-weight: 700;
      line-height: 30px;
      position: absolute;
      bottom: -60px;
      text-transform: uppercase;
      background: $orange;
      box-shadow: inset 60px 0 0 $orange-accent;
      transition: box-shadow 0.13s ease-in;

      &:hover {
        box-shadow: inset 24rem 0 0 $orange-accent;
      }
      a {
        color: #fff;
        text-decoration: none;
      }

      &:before {
        content: "";
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 15px;
        top: 15px;
        background: url('../img/icons/jury-icon.svg') no-repeat 0 0;
      }
    }
    &.ruud .picture {
      background: url('../img/member_ruud.jpg');
      background-size: cover;
    }
    &.anouk .picture {
      background: url('../img/member_anouk.jpg');
      background-size: cover;
    }
    &.coen .picture {
      background: url('../img/member_coen.jpg');
      background-size: cover;
    }
    &.sander .picture {
      background: url('../img/member_sander.jpg');
      background-size: cover;
    }
    .picture {
      height: 300px;
      background-size: cover;
    }
  }
}


footer[role="document-footer"] {
  background: white;

  .wrapper {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
  }
  nav {
    margin-bottom: 40px;
    padding-top: 40px;
    text-align: center;
  }

  a {
    color: #000;
  }
}

@media screen and (min-width: 880px) {
  footer[role="document-footer"] {
    height: 95px;

    nav {
      text-align: left;
    }

    .partners {
      position: absolute;
      top: 20px;
      right: 0;
    }
  }
}




textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  border: none;
}