@import '../helpers/variables';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400,300);

.header,
main[role="main"] {
  display: flex;
}


html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}



/*
 * Jumbotron default
 */

.jumbotron {
  width: 100%;
  height: 80vh;
  position: relative;
  background: url('../img/lavn-header.jpg') no-repeat 50% 50%;
  background-size: cover;

  .introduction {
    max-width: 55%;
    position: absolute;
    left: 4%;
    top: 20%;

    h1 {
      margin-bottom: .5rem;
      padding: 10px;
      font-size: 2rem;
      display: inline-block;
      background: white;
    }
    p {
      padding: 10px;
      color: white;
      display: inline-block;
      background: black;
    }
  }
}




textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  border: none;
}


.column.backlog {
  background: #fff;
  box-shadow: 4px 0 8px rgba(0,0,0, .14);
}

.btn {
  padding: 3px 6px;
  display: inline-block;
  background: grey;
  border-radius: 3px;
}